---
title       : API reference
description : Complete reference documentation for the Jahuty API. Includes representative code snippets and examples for our JavaScript, PHP, and Ruby client libraries.
keywords    : [api, reference]
permalink   : /:basename
category    : api
javascripts :
  - src: assets/js/toggle.js
---
{% assign key  = "kn2Kj5ijmT2pH6ZKqAQyNexUqKeRM4VG6DDgWN1lIcc" %}
{% assign lang = "bash" %}
{% assign tag  = "test" %}
<section>
  <div class="row">
    <div class="col">
      <h1 class="display-4">
        API Reference
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p class="lead">
        The Jahuty API is organized around <a href="http://en.wikipedia.org/wiki/Representational_State_Transfer" target="_blank">REST</a>. Our API has predictable resource-oriented URLs, returns <a href="http://www.json.org" target="_blank">JSON-encoded responses</a>, and uses standard <a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes" target="_blank">HTTP response codes</a>, authentication, and verbs.
      </p>
      <p>
        Currently, we only support a single environment.
      </p>
      <p>
        All requests use the current version of our API. When we make backwards-incompatible changes to the API, which we do our best to avoid, we'll release a new major version and introduce a versioning scheme.
      </p>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Base URL
        </div>
        <div class="card-body small">
          <span class="font-monospace">https://api.jahuty.com</span>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-header">
          SDKs
        </div>
        <div class="card-body">
          <nav class="nav nav-pills nav-fill">
            <a class="nav-item nav-link active" data-toggle-type="activity" data-toggle-language="bash" href="#">cURL</a>
            <a class="nav-item nav-link" data-toggle-type="activity" data-toggle-language="javascript" href="#">Node</a>
            <a class="nav-item nav-link" data-toggle-type="activity" data-toggle-language="php" href="#">PHP</a>
            <a class="nav-item nav-link" data-toggle-type="activity" data-toggle-language="ruby" href="#">Ruby</a>
            <a class="nav-item nav-link" data-toggle-type="activity" data-toggle-language="html" href="#">Web</a>
          </nav>
        </div>
        <div class="card-footer text-muted">
          <p class="m-0" data-toggle-type="visibility" data-toggle-language="bash">
            <small>By default, the Jahuty API Docs demonstrate using <code>curl</code> to interact with the API over HTTPS. Select one of our official SDKs to see examples in code.</small>
          </p>
          <p class="m-0" data-toggle-type="visibility" data-toggle-language="javascript">
            <small><code>$ npm install jahuty --save</code></small> <a href="https://github.com/jahuty/jahuty-node" target="_blank"><i class="fab fa-github ms-2"></i></a>
          </p>
          <p class="m-0" data-toggle-type="visibility" data-toggle-language="php">
            <small><code>$ composer require jahuty/jahuty-php</code></small> <a href="https://github.com/jahuty/jahuty-php" target="_blank"><i class="fab fa-github ms-2"></i></a>
          </p>
          <p class="m-0" data-toggle-type="visibility" data-toggle-language="ruby">
            <small><code>$ gem install jahuty</code></small> <a href="https://github.com/jahuty/jahuty-ruby" target="_blank"><i class="fab fa-github ms-2"></i></a>
          </p>
          <p class="m-0" data-toggle-type="visibility" data-toggle-language="html">
            <small><code>&lt;script src="https://unpkg.com/@jahuty/web@0.1.0/dist/web.js"&gt;&lt;/script&gt;</code></small> <a href="https://github.com/jahuty/jahuty-node" target="_blank"><i class="fab fa-github ms-2"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="authentication" class="my-5">
  <div class="row">
    <div class="col">
      <h1>
        Authentication
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p class="lead">
        The Jahuty API uses <a href="https://en.wikipedia.org/wiki/Application_programming_interface_key" target="_blank">API keys</a> to authenticate requests. You can view and manage your organization's API keys from your organization settings.
      </p>
      <p>
        There are two types of API keys: <em>public</em> and <em>secret</em>. Although public keys are not secret and carry limited priviledges, you should not share them in publicly accessible areas such as Github, Bitbucket, client-side code, and so forth.
      <p>
        Each SDK provides a method to set your organization's API key using a static method or public static variable. Once it's set, it'll be included in subsequent requests automatically.
      </p>
      <p>
        If you're using the API directly, you can pass your organization's API token via bearer authentication, by setting the <code>Authorization</code> to request header's value to <code>Bearer YOUR_API_KEY</code>.
      </p>
      <p>
        All API requests must be made over <a href="http://en.wikipedia.org/wiki/HTTP_Secure" target="_blank">HTTPS</a>. Calls made over plain HTTP will fail. API requests without authentication will also fail.
      </p>
      <p>
        To learn more about API keys, see <a href="{% link components/api-keys.md %}">API keys</a>.
      </p>
    </div>
    <div class="col-md-6">
{% capture code %}
curl https://api.jahuty.com/snippets/1/render \
  -H "Authorization: Bearer {{ key }}"; echo
{% endcapture %}
      {% include code.html header="Authenticated request" language="bash" code=code toggle=false select=false %}
      <div class="card my-3">
        <div class="card-header">
          Your API key
        </div>
        <div class="card-body small">
          <p>
            A sample test API key is included in all the examples here, so you can test any example right away:
          </p>
          <p>
            <span class="font-monospace">{{ key }}</span>
          </p>
          <p>
            To test requests using your account, replace the sample API key with one of your organization's actual API keys.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="errors" class="my-5">
  <div class="row">
    <div class="col">
      <h1>
        Errors
      </h1>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <p class="lead">
        Jahuty uses conventional <a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes" target="_blank">HTTP response codes</a> to indicate the success or failure of an API request.
      </p>
      <p>
        In general: codes in the <code>2xx</code> range indicate success; codes in the <code>4xx</code> range indicate an error that failed given the information provided (e.g., a required parameter was omitted, the resource does not exist, etc.); and, codes in the <code>5xx</code> range indicate an error with Jahuty's servers (these are rare).
      </p>
      <p>
        When an error does occur, the Jahuty API will respond with the <code>application/problem+json</code> content type.
      </p>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          HTTP status codes
        </div>
        <div class="card-body small">
          <dl>
            <dt class="font-monospace">
              200 - OK
            </dt>
            <dd>
              Everything worked as expected.
            </dd>
            <dt class="font-monospace">
              401 - Unauthorized
            </dt>
            <dd>
              No valid API key provided.
            </dd>
            <dt class="font-monospace">
              402 - Payment Required
            </dt>
            <dd>
              Your free trial or subscription has expired.
            </dd>
            <dt class="font-monospace">
              403 - Forbidden
            </dt>
            <dd>
              The API key doesn't have permissions to perform the request.
            </dd>
            <dt class="font-monospace">
              404 - Not Found
            </dt>
            <dd>
              The requested resource doesn't exist.
            </dd>
            <dt class="font-monospace">
              500, 502, 503, 504 - Server Errors
            </dt>
            <dd>
              Something went wrong on Jahuty's end. (These are rare.)
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>
        Attributes
      </h2>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <p class="lead">
        Jahuty uses the <a href="https://tools.ietf.org/html/rfc7807" target="_blank">application/problem+json</a> resource to describe  errors.
      </p>
      <dl>
        <dt>
          <code>status</code> <small class="text-muted">integer</small>
        </dt>
        <dd>
          The original HTTP status code.
        </dd>
        <dt>
          <code>title</code> <small class="text-muted">string</small>
        </dt>
        <dd>
          A short, human-readable title for the general error type.
        </dd>
        <dt>
          <code>detail</code> <small class="text-muted">string</small>
        </dt>
        <dd>
          A human-readable description of the specific error.
        </dd>
        <dt>
          <code>type</code> <small class="text-muted">string</small>
        </dt>
        <dd>
          A URL to more information about the reported error.
        </dd>
      </dl>
    </div>
    <div class="col-md-6">
{% capture error %}
{
  "status": 404,
  "title": "Not found",
  "detail": "The requested resource was not found",
  "type": "https://en.wikipedia.org/wiki/List_of_HTTP_status_codes"
}
{% endcapture %}
{% include code.html header="Error object" language="json" code=error toggle=false select=false %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>
        Handling errors
      </h2>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <p class="lead">
        Our SDKs raise exceptions for errors that need your attention such as invalid parameters or authentication errors.
      </p>
      <p>
        We don't recommend writing code that handles API exceptions. An exception will likely only occur in a situation which requires your attention.
      </p>
    </div>
    <div class="col-md-6">
{% capture php %}
$jahuty = new Jahuty\Client('{{ key }}');

try {
  // Returns 404 (raising exception) because snippet and key do not match.
  echo $jahuty->snippets->render(999);
} catch (Jahuty\Exception\Error $e) {
  $p = $e->getProblem();

  echo $p->getStatus();
  echo $p->getType();
  echo $p->getDetail();
}
{% endcapture %}
{% include code.html language="php" header="Handling exceptions" code=php %}
{% capture ruby %}
jahuty = Jahuty::Client.new(
  api_key: '{{ key }}'
)

begin
  jahuty.snippets.render 999
rescue Jahuty::Exception::Error => e
  # The API responds 404, raising an error, because the snippet and api key do not match.
  p = e.problem

  puts p.status
  puts p.type
  puts p.detail
end
{% endcapture %}
{% include code.html language="ruby" header="Handling exceptions" code=ruby %}
    </div>
  </div>
</section>

<section id="snippets" class="my-5">
  <div class="row">
    <div class="col">
      <h1>
        Snippets
      </h1>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-6">
      <p class="lead">
        A snippet is chunk of content you manage through our website; render using our SDKs or API; and, display in your application on-demand. Each snippet is assigned a unique identifier (aka, <code>id</code>) that you'll use to refer to it.
      </p>
    </div>
    <div class="col-md-6">
      <div class="card bg-light">
        <div class="card-header">
          Endpoints
        </div>
        <div class="card-body small">
          <ul class="list-unstyled mb-0">
            <li>
              <span class="text-success">GET</span> <span class="font-monospace">/snippets/:id/render</span>
            </li>
            <li>
              <span class="text-success">GET</span> <span class="font-monospace">/snippets/render</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="snippets.render">
    <div class="col">
      <h2>
        Render a snippet
      </h2>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <p class="lead">
        Renders a snippet's content using the passed parameters. You need only supply the unique identifier that was assigned to the snippet upon creation.
      </p>
      <h4>
        Arguments
      </h4>
      <dl>
        <dt>
          <code>id</code> <small class="text-muted">integer</small>
        </dt>
        <dd>
          The identifier of the snippet to retrieve.
        </dd>
        <dt>
          <code>params</code> <small class="text-muted">string</small> <small class="badge bg-info">optional</small>
        </dt>
        <dd>
          A <a href="https://en.wikipedia.org/wiki/Percent-encoding" target="_blank">URL-encoded</a>, <a href="https://www.json.org" target="_blank">JSON object</a> of <a href="/liquid/parameters">parameters</a> to use. Passed via the  <code>params</code> query string parameter. Unused variables are ignored.
        </dd>
      </dl>
      <h4>
        Returns
      </h4>
      <p>
        Returns a rendered snippet. When requesting a snippet that does not exist or you are not authorized to access, a <code>404</code> error will be returned.
      </p>
    </div>
    <div class="col-md-6">
{% capture bash %}
curl
  https://api.jahuty.com/snippets/1/render \
  -H "Authorization: Bearer {{ key }}"; \
  echo
{% endcapture %}
{% include code.html language="bash" method="get" path="snippets/:id/render" code=bash %}

{% capture javascript %}
import Client from '@jahuty/jahuty';

const jahuty = new Client({ apiKey: '{{ key }}' });

const render = jahuty.snippets.render(1);

console.log(render.content);
{% endcapture %}
{% include code.html language="javascript" method="get" path="snippets/:id/render" code=javascript %}

{% capture php %}
$jahuty = new Jahuty\Client('{{ key }}');

echo $jahuty->snippets->render(1);
{% endcapture %}
{% include code.html language="php" method="get" path="snippets/:id/render" code=php %}

{% capture ruby %}
jahuty = Jahuty::Client.new(
  api_key: '{{ key }}'
)

puts jahuty.snippets.render 1, params: { "foo": "bar" }
{% endcapture %}
{% include code.html language="ruby" method="get" path="snippets/:id/render" code=ruby %}

{% capture html %}
<!doctype html>
<html>
  <head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/@jahuty/web@0.1.0/dist/web.js"></script>
    <script>
      window.addEventListener('load', function () {
        jahuty('{{ key }}');
      });
    </script>
  </head>
  <body>
    <div data-snippet-id="1"></div>
  </body>
</html>
{% endcapture %}
{% include code.html language="html" method="get" path="snippets/:id/render" code=html %}

{% capture response %}
{
  "snippet_id": 1,
  "content": "This is my first snippet!"
}
{% endcapture %}
{% include code.html language="json" header="Response" code=response select=false toggle=false %}
    </div>
  </div>
  <div class="row" id="snippets.render">
    <div class="col">
      <h2>
        Render all snippets
      </h2>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <p class="lead">
        Renders a collection of snippets. A tag is required.
      </p>
      <h4>
        Arguments
      </h4>
      <dl>
        <dt>
          <code>tag</code> <small class="text-muted">string</small>
        </dt>
        <dd>
          The text of the tag to filter by.
        </dd>
        <dt>
          <code>params</code> <small class="text-muted">string</small> <small class="badge bg-info">optional</small>
        </dt>
        <dd>
          A <a href="https://en.wikipedia.org/wiki/Percent-encoding" target="_blank">URL-encoded</a>, <a href="https://www.json.org" target="_blank">JSON object</a> of <a href="/liquid/parameters">parameters</a> in the following format:
          <ul class="my-3">
            <li>
              The object should use the snippets' unique identifiers as top-level attributes. For example, the object, <code>{ "1": { "foo": "bar" } }</code>, will define the variable <code>foo</code> as the string <code>"bar"</code> for snippet <em>1</em>.
            </li>
            <li>
              The asterisk character (<kbd>*</kbd>) is a special top-level attribute that can be used to pass the same parameters to all snippets in the collection. For example, the object, <code>{ "*": { "foo": "bar" } }</code>, will define the variable <code>foo</code> as the string <code>"bar"</code> for all snippets in the collection.
            </li>
            <li>
              Parameters are merged recursively. For example, the object, <code>{ "*": { "foo": "bar" }, "1": { "baz": "qux" } }</code>, will define the variable <code>foo</code> as the string <code>"bar"</code> for all snippets in the collection, including snippet <em>1</em>, which has the additional variable <code>baz</code> defined as the string <code>"qux"</code>.
            </li>
            <li>
              When merging parameters, a snippet's parameters will take precedence. For example, the object, <code>{ "*": { "foo": "bar" }, "1": { "foo": "baz" } }</code>, will define the variable <code>foo</code> as the string <code>"bar"</code> for all snippets in the collection, except snippet <em>1</em>, where <code>foo</code> will be defined as <code>"baz"</code>.
            </li>
          </ul>
          Unused variables are ignored.
        </dd>
      </dl>
      <h4>
        Returns
      </h4>
      <p>
        Returns an array of rendered snippets. When omitting the tag or requesting one that does not exist or you are not authorized to access, a <code>404</code> error will be returned.
      </p>
    </div>
    <div class="col-md-6">
{% capture bash %}
# Note, some shells require escaping the "?" character.
curl \
  https://api.jahuty.com/snippets/render\?tag={{ tag }} \
  -H "Authorization: Bearer {{ key }}"; \
  echo
{% endcapture %}
{% include code.html language="bash" method="get" path="snippets/render" code=bash %}

{% capture javascript %}
const Client = require('@jahuty/jahuty').default;

const jahuty = new Client({ apiKey: '{{ key }}' });

const render = jahuty.snippets.allRenders('{{ tag }}');

console.log(render.content);
{% endcapture %}
{% include code.html language="javascript" method="get" path="snippets/render" code=javascript %}

{% capture php %}
$jahuty = new Jahuty\Client('{{ key }}');

echo $jahuty->snippets->allRenders('{{ tag }}');
{% endcapture %}
{% include code.html language="php" method="get" path="snippets/render" code=php %}

{% capture ruby %}
jahuty = Jahuty::Client.new(
  api_key: '{{ key }}'
)

puts jahuty.snippets.all_renders '{{ tag }}'
{% endcapture %}
{% include code.html language="ruby" method="get" path="snippets/render" code=ruby %}

{% capture html %}
<!doctype html>
<html>
  <head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/@jahuty/web@0.1.0/dist/web.js"></script>
    <script>
      window.addEventListener('load', function () {
        jahuty('{{ key }}');
      });
    </script>
  </head>
  <body>
    <div data-snippet-id="1"></div>
  </body>
</html>
{% endcapture %}
{% include code.html language="html" method="get" path="snippets/render" code=html %}

{% capture response %}
[
  {
    "snippet_id": 1,
    "content":"<p>This is my first snippet!</p>"
  },
  {
    "snippet_id":62,
    "content":"<p>This  is .</p>"
  }
]
{% endcapture %}
{% include code.html language="json" header="Response" code=response select=false toggle=false %}
      <small class="text-muted">The odd spaces in the content of snippet <em>62</em> are the result of two params, <code>foo</code> and <code>bar</code>, which are expected but not passed.</small>
    </div>
  </div>
</section>
