{% comment %}
  I'll output a snippet of code.

  @param  header    string   the snippet's header (optional, defaults false)
  @param  language  string   the snippet's language (e.g., "html")
  @param  code      string   the code to output
  @param  comment   string   a comment to include above the code (optional)
{% endcomment %}
<div class="card mb-3">
  {% if include.header %}
    <div class="card-header">
      {{ include.header }}
    </div>
  {% endif %}
  <div class="card-body bg-light">
    <pre class="m-0 language-{{ include.language }}"><code class="text-monospace">{% if include.comment %}{{ include.comment | escape }}
{% endif %}{{ include.code | escape }}</code></pre>
  </div>
</div>
