<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="jahuty, documentation, docs, {{ page.keywords | join: ', ' }}">
    <meta name="description" content="{{ page.description }}">

    <link rel="icon" href="data:,">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/github.css">
    <link rel="stylesheet" href="/assets/css/default.css">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144672869-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-144672869-1');
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/93c363513c.js" crossorigin="anonymous"></script>
    {% for javascript in page.javascripts %}
      <script src="{{ javascript.src }}"{% if javascript.async %} async{% endif %}{% if javascript.defer %} defer{% endif %}></script>
    {% endfor %}

    <title>{{ page.title }} &middot; Jahuty</title>
  </head>
  <body>
    {% comment %}
      @see https://www.codeply.com/go/Rgq96HykJ2/sidebar-that-changes-to-navbar
    {% endcomment %}
    <div class="container-fluid">
      <div class="row min-vh-100 flex-column flex-md-row">
        <aside class="col-12 col-md-3 p-4 bg-light flex-shrink-1">
          <h4 class="mb-4">
            <a href="/" class="text-dark">Jahuty <small class="text-muted">docs</small></a>
          </h4>
          {% for section in site.data.nav %}
            <h6 class="text-muted my-3">
              <a href="{{ section.children.first.path }}">{{ section.name }}</a>
            </h6>
            {% if page.category == section.category %}
              <nav class="nav nav-pills flex-column">
                {% for item in section.children %}
                  {% assign item_url = item.path | append: ".html" %}
                  <a class="nav-link{% if page.url == item_url %} active{% endif %}" href="{{ item.path }}">{{ item.name }}</a>
                {% endfor %}
              </nav>
            {% endif %}
          {% endfor %}
          <h6 class="border-top mt-4 pt-4">
            <a href="{{ site.data.urls.support }}">Help</a>
          </h6>
          <h6 class="mt-4">
            <small><a href="https://www.jahuty.com">&larr; Back to jahuty.com</a></small>
          </h6>
        </aside>
        <main class="col bg-faded p-5 flex-grow-15">
          {{ content }}
          {% include fork.html %}
        </main>
      </div>
    </div>
  </body>
</html>
